<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ultracoder LSPDFR{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('appCss') }}
    {% endblock %}
</head>
<body>
{{ include('_elements/_navbar.html.twig') }}
<input type="hidden" id="directory-url-js" value="{{ path('api.directory') }}">
<main class="container pt-4">

    {{ include('_elements/_flash.html.twig') }}

    {% block body %}{% endblock %}
</main>
{% block javascripts %}
    {{ encore_entry_script_tags('appJs') }}
{% endblock %}
</body>
</html>
